<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XJ14B87QBH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-XJ14B87QBH');
    </script>
    
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&family=Roboto:wght@400;700&family=Lato:wght@400;700&display=swap" as="style" type="text/css" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/EHUSans/EHUSans-Regular.otf?v=' | append: site.github.build_revision | relative_url }}" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/EHUSans/EHUSans-Bold.otf?v=' | append: site.github.build_revision | relative_url }}" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/EHUSans/EHUSans-black.otf?v=' | append: site.github.build_revision | relative_url }}" as="font" type="font/otf" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <a href="{{ site.baseurl }}/">
	<img class="header-logo-image" src="{{ site.baseurl }}/assets/img/droneskola_hd.png" alt="Drone eskolaren logoa. Quadcopter beltz bat ikusten da irudian.">
      </a>
      
      <div class="navigation-buttons">
	<a href="{{ site.baseurl }}/" class="btn-header">Aurkezpena</a>
	<div class="dropdown">
	<a href="{{ site.baseurl }}/araudia" class="btn-header">Araudia</a>
	<div class="dropdown-menu">
          <a href="{{ site.baseurl }}/araudia#A1A3" class="dropdown-item">A1/A3</a>
	  <a href="{{ site.baseurl }}/araudia#A2" class="dropdown-item">A2</a>
	  <a href="{{ site.baseurl }}/araudia#STS" class="dropdown-item">STS</a>
        </div>
	</div>

	<a href="{{ site.baseurl }}/hardwarea" class="btn-header">Hardwarea</a>

	<a href="{{ site.baseurl }}/fpv" class="btn-header">FPV</a>
	
	<a href="{{ site.baseurl }}/argitalpenak" class="btn-header">Argitalpenak</a>

	<a href="{{ site.baseurl }}/harremanetarako" class="btn-header">Lagundu</a>
	
      </div>
      
      <div class="language-switch">
	<a href="{{ site.baseurl }}/" class="language-link">EU</a>
      </div>
      
    </header>

    <div class="horizontal-banner">
      <img src="{{ site.baseurl }}/assets/img/banner1.webp" alt="banner_image_radiocontroller">
      <img src="{{ site.baseurl }}/assets/img/banner2.webp" alt="banner_image_drone">
      <img src="{{ site.baseurl }}/assets/img/banner3.webp" alt="banner_image_submarine">
      <img src="{{ site.baseurl }}/assets/img/banner4.webp" alt="banner_image_rc_car">

    </div>

    <main id="content" class="main-content" role="main">


       {{ content }}


       <footer class="site-footer">

	 <div class="lower-horizontal-banner">
	   <img src="" alt="">
	   <img src="" alt="">
	   <img src="" alt="">
	 </div>

        <span class="site-footer-owner">
	  <a property="dct:title" rel="cc:attributionURL" href="{{ site.github.repository_url }}">
	    {{ site.github.repository_name }}
	  </a>
	  is licensed under
	  <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
	    Creative Commons Attribution-ShareAlike 4.0 International
	    <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
	    <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
	    <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a>

	</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> (Jekyll Cayman template).</span>
      </footer>
    </main>
  </body>
</html>
